body {
  background-color: #B0C4DE;
}

.drum-machine {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  max-width: 600px;
  margin: auto;
}

.drum-pad {
  height: 100px;
  background-color: #333;
  color: white;
  border: none;
  font-size: 1.2rem;
}

.drum-pad.active {
  background-color: #4f4f4f; /* Lighter gray for active state */
}

.visualizer {
  width: 100%;
  max-height: 150px;
  object-fit: contain;
  margin-bottom: 20px;
}
