body {
  background-color: #B0C4DE;
}

.drum-machine {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  max-width: 600px;
  margin: auto;
}

.drum-pad {
  height: 100px;
  background-color: #333;
  color: white;
  border: none;
  font-size: 1.2rem;
}

.drum-pad.active {
  background-color: #4f4f4f; /* Lighter gray for active state */
}

.visualizer {
  width: 100%;
  max-height: 150px;
  object-fit: contain;
  margin-bottom: 20px;
}

.control-pad {
  grid-column: span 3; /* Play/Pause button spans 3 columns */
  background-color: #666;
  color: white;
  border: none;
  font-size: 1.2rem;
}

.control-pad.restart {
  grid-column: span 1; /* Restart button takes up 1 column */
}

.now-playing {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  margin: 10px 0;
}

.scrolling-text {
  display: inline-block;
  padding-left: 100%;  /* Start offscreen */
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}
